<div class="row mt-4">
    <h1 class="text-center">{{#if editMode}}Editar Categoría "{{categorie.name}}"{{else}}Agregar Nueva Categoría{{/if}}</h1>
</div>

<div class="d-flex justify-content-center align-items-center mt-3" id="categories-form-container">
<div class="col-6">
    <div class="card">
        <div class="card-body">
            <form method="post" id="base-form" action="/categories/{{#if editMode}}edit{{else}}create{{/if}}">

                <div class="mb-3">
                <label for="categorie-name" class="form-label">Nombre de la Categoría</label>
                <input class="form-control" id="categorie-name" type="text" name="categorieName" value="{{#if editMode}}{{categorie.name}}{{/if}}"  placeholder="Ej. Novela" required>
                </div>

                <div class="mb-3">
                <label for="categorie-description" class="form-label">Descripción de la Categoría</label>
                <input class="form-control" id="categorie-description" type="text" name="categorieDescription" value="{{#if editMode}}{{categorie.description}}{{/if}}"  placeholder="Ej. Amor y Descontrol" required>
                </div>
                
                {{#if editMode}}
                <input type="hidden" name="categorieId" value="{{categorie.id}}">
                {{/if}}

                <div class="d-flex gap-2">
                <div clas="col-6 mb-3">
                    <a class="btn btn-danger" href="/categories/index" id="clear-button"><i class="bi bi-arrow-left"></i> Cancelar y Volver</a>
                </div>  

                <div clas="col-6 mb-3 ">
                    <button type="submit" class="btn btn-primary" id="create-button"><i class="bi bi-floppy"></i> Guardar</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>